{
    title: "edited"
    name: "edited"

    repo: "mightyiam/edited"

    description: '''
        Listens on editable elements and calls a provided callback when it
        discerns that a significant edit was made.
        '''

    keywords: "contentEditable, designMode, undo, redo"

    author: "Shahar Or (http://github.com/mightyiam)"

    license: "MIT"

    browsers: true

    badges:
        gittip: "mightyiam"
        paypal: "RAKMT86PEJWGC"
        wishlist: "http://amzn.com/w/3W0TRAPGDI8DA"
        bitcoin: "https://www.coinbase.com/checkouts/d7a8160dbfe9f9779ee31005dbc34294?c=opensource"
}
